body {
  -webkit-font-smoothing: antialiased;
}
h1, .h1 {
  font-size: 28px;
}
.home-page-header { display: none; }
.navbar-inverse {
  background: #015fa3 !important;
  background: -moz-linear-gradient(top, #015fa3 0%, #337eb5 100%) !important;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#015fa3), color-stop(100%,#337eb5)) !important;
  background: -webkit-linear-gradient(top, #015fa3 0%,#337eb5 100%) !important;
  background: -o-linear-gradient(top, #015fa3 0%,#337eb5 100%) !important;
  border-bottom: 1px solid #00467a !important;
  border-top: 1px solid #2b6590 !important;
}
.navbar-inverse .navbar-brand { color: #fff; }
.navbar-brand {
  font-size: 130%;
  color: #fff;
  text-shadow: #000 1px 1px 1px;
  font-family: "Helvetica Neue",Arial,sans-serif;
}
.navbar .brandlogo {
  padding: 0 15px 10px !important;
}
.navbar .brandlogo img {
  margin-top: -10px;
}
.navbar-inverse {
  border-color: #999;
}
.navbar-inverse .nav > li > a {
  color: #ccc;
  font-size: 100% !important;
  font-family: "Helvetica Neue",Arial,sans-serif;
}
.navbar-inverse .nav > li:not(.active) > a {
  color: #fff;
  text-shadow: #000 1px 1px 1px;
  font-weight: 200;
}
.navbar-inverse .nav > li > a:hover {
  text-decoration: underline;
}
.navbar-fixed-top .container {
  margin-top: 28px;
}
.navbar-fixed-top {
  position: static;
}
.navbar-fixed-top {
  -webkit-box-shadow: 0 0 0 rgba(0,0,0,0.0);
  -moz-box-shadow: 0 0 0 rgba(0,0,0,0.0);
  box-shadow: 0 0 0 rgba(0,0,0,0.0);
}
#footer {
  color: #999;
  background: #222;
  background: -moz-linear-gradient(top, #222 0%, #000 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#222), color-stop(100%,#000));
  background: -webkit-linear-gradient(top, #222 0%,#000 100%);
  background: -o-linear-gradient(top, #222 0%,#000 100%);
}
#topmenu {
  font-size: 0.8em;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  margin-bottom: -28px;
  padding: 2px;
  background: #1e5d8a;
  background: -moz-linear-gradient(top, #1e5d8a 0%, #356e98 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5d8a), color-stop(100%,#356e98));
  background: -webkit-linear-gradient(top, #1e5d8a 0%,#356e98 100%);
  background: -o-linear-gradient(top, #1e5d8a 0%,#356e98 100%);
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  border: 1px solid #1a5179;
  border-top: 0;
}
#topmenu,
#topmenu span {
  text-shadow: #000 1px 1px 1px;
}
#topmenu ul { margin: 0.1em 0; list-style: none; }
#topmenu > ul > li > a { color: #fff; font-size: 1em; }
#topmenu ul.homemenu { float: left; padding-left: 1em; }
#topmenu ul.usermenu { float: right; padding-right: 1em; padding-left: 0; }
#topmenu ul.homemenu > li { margin-right: 1.4em; }
#topmenu ul.usermenu > li { margin-left: 1.4em; }
#topmenu ul {
  clear: none;
  position: relative;
}
#topmenu li {
  float: left;
  clear: none;
  position: relative;
}
#topmenu .glyphicon { color: #fff; }
.popover {
  text-shadow: none;
  color: #333 !important;
  min-width: 254px !important;
}
.popover li {
  margin: 0;
}
.homemenu .popover { width: 200px !important; }
.homemenu .popover-title,
.usermenu .popover-title { display: none; }
.form-search { margin: 0 !important; text-align: center; }
.form-search button[type="submit"] {
  margin-left: 0.5em;
}
#footer ul {
  list-style: none;
  font-size: 0.8em;
  margin: 2em 0 0;
  padding: 0;
}
#footer ul li {
  float: left;
  clear: none;
  position: relative;
  margin-right: 1.5em;
  /*font-weight: 400;*/
}
.notifications .label { font-size: 0.85em; }
.label-status {
  min-width: 95px;
  position: absolute;
  margin-top: 2px;
}
.label-internalqa { background-color: #87AFC7; }
.label-clientqa { background-color: #808000; }
.label-complete { background: #333; }
.label-production { background-color: #800080; }
.label-milestone { background-color: #009; }
.label-discussion { background-color: #0c9; }
.label-repo { background-color: #c20; }
.label-comment { background-color: #666; }
.activity-list .fa {
  margin-left: 100px;
  min-width: 15px;
}
.list-group-item-title { background: #eee; }
.show-projects { display: none; }
.chzn-container-multi { min-width: 100%; margin-bottom: 1em; }
#projectgroupfilter_chzn,
#projectfilter_chzn { width: 100% !important; margin-bottom: 1em; }
.btn-block { margin-bottom: 1em; }
.action {
  font-size: 90%;
  margin-right: 3px;
  background: #fff7c1;
  padding: 1px 4px;
  color: #444;
  text-transform: uppercase;
}
.chzn-container { width: 100% !important; }
.form-group {
  margin-bottom:2em;
}
.tickets { margin-bottom: 2em; }
.tickets label {
  display: block;
}
#TicketProjectTitleGroup,
#TicketMilestoneTitleGroup { display: none; }
@media (min-width: 768px) {
  body {
    /*font-weight: 200;*/
    letter-spacing: 0.5px;
  }
  #footer ul {
    /*font-weight: 400;*/
  }
  .navbar-nav>li>a {
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .navbar-inverse {
    height: 78px !important;
    margin-top: -1px;
  }
  .navbar .nav {
    float: right;
    margin-top: 13px !important;
  }
  .navbar-inverse .nav .active > a {
    color: #000;
    background-color: #fff;
  }
  .navbar-inverse .nav .active > a:hover,
  .navbar-inverse .nav li.dropdown.active > .dropdown-toggle,
  .navbar-inverse .nav li.dropdown.active > .dropdown-toggle:hover,
  .navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle {
    color: #666;
    background-color: #fff;
  }
  .navbar-inverse .nav li.dropdown.open > .dropdown-toggle {
    background-color: #003366;
  }
  .navbar-inverse .nav .active > a,
  .navbar-inverse .nav .active > a:hover,
  .navbar-inverse .nav li.dropdown.open > .dropdown-toggle {
    -webkit-border-radius: 6px 6px 0 0;
    -moz-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
  }
  .navbar-inverse .nav li.dropdown.active > .dropdown-toggle .caret,
  .navbar-inverse .nav li.dropdown.active.open > .dropdown-toggle .caret {
    border-top-color: #000;
    border-bottom-color: #000;
  }
}
@media (min-width: 980px) {
  body {
    /*font-weight: 200;*/
    letter-spacing: 0.5px;
  }
  .navbar-inverse .nav .active > a {
    /*font-weight: 300;*/
  }
}
@media (min-width: 992px) {
  .projects-list .list-group-item:not(.list-group-item-title) {
    display: block;
  }
  .list-group-item-title {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
}
@media (max-width: 991px) {
  .list-group-item-title {
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
  }
  .projects-list .list-group-item:not(.list-group-item-title) {
    display: none;
  }
  .show-projects { display: block; }
  .list-group-item-title:hover { cursor: pointer; cursor: hand; }
}
@media (max-width: 767px) {
  body {
    /*font-weight: 300;*/
    letter-spacing: 0.5px;
  }
  #footer ul {
    /*font-weight: 400;*/
  }
  #topmenu-wrapper .col-lg-12 {
    min-height: 0;
  }
  #topmenu ul.homemenu {
    padding-left: 0.3em;
  }
  #topmenu ul.usermenu {
    padding-right: 0.3em;
  }
}

/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: #f5f5f5;
}

/* Calendar CSS
-------------------------------------------------- */
/* Styles for the calendar page. */
.monthtabs {
  width: 50px;
  float: left;
  clear: none;
  position: relative;
  margin: 0 !important;
  padding: 0;
}
.monthtabs li {
  list-style: none;
  margin-top: 0.2em;
  padding: 0.5em 1em;
  -webkit-border-radius: 6px 0 0 6px;
  -moz-border-radius: 6px 0 0 6px;
  border-radius: 6px 0 0 6px;
}
.monthtabs li a { text-decoration: none; }
.monthtabs li:hover { background-color: #eee; }
.monthtabs li.active { background-color: #e3e3e3; }
.calendar {
  width: 100%;
  min-height: 450px;
  float: right;
  clear: none;
  position: relative;
  margin-top: 1em;
  margin-bottom: 3em;
}
.month {
  margin: 0;
}
.month.active { display: block; }
.month:not(.active) { display: none; }
.month header {
  width: 100%;
  color: #fff;
  background: #777;
  margin: 0;
  padding: 0.4em;
  text-align: center;
}
.day {
  width: 14.28571428571429%;
  height: 80px;
  margin: 0;
  background: #fff;
  border: 1px solid #999;
  padding: 0.5em;
  display: block;
  float: left;
  clear: none;
  position: relative;
}
.day:hover { background: #efefef; }
.day.active { background: #9CF9F9; }
.day.active:hover { background: #00ffff; }
.emptyday {
  width: 14.28571428571429%;
  height: 80px;
  margin: 0;
  background: #e3e3e3;
  border: 1px solid #999;
  display: block;
  float: left;
  clear: none;
  position: relative;
  padding: 0.5em;
}
.calendar-row {
  float: left;
  clear: both;
  position: relative;
  width: 100%;
}
.calendar-day-head {
  width: 14.28571428571429%;
  float: left;
  clear: none;
  margin: 0;
  padding: 0.5em;
  background: #fff;
  border: 1px solid #999;
}
.next {
  float: right;
  position: relative;
  display: block;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#wrap #main {
  padding: 0 15px;
}
.container .text-muted {
  margin: 20px 0;
  /*font-weight: 200;*/
}

#footer > .container {
  padding-left: 15px;
  padding-right: 15px;
}

code {
  font-size: 80%;
}

/* cake debug log */
table.cake-sql-log {
  width: 100%;
  margin-bottom: 1em;
}
table.cake-sql-log caption:hover { cursor: pointer; cursor: hand; }
table.cake-sql-log thead,
table.cake-sql-log tbody { display: none; }